{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static "css/profile.css" %}">
{% endblock %}

{% block content %}

    <div class ="container">
        <div class="profile_update_box">
            <span><a href="/profile"><svg aria-label="닫기" class="_ab6-" color="#262626" fill="#262626" height="18" role="img" viewBox="0 0 24 24" width="18"><polyline fill="none" points="20.643 3.357 12 12 3.353 20.647" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"></polyline><line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" x1="20.649" x2="3.354" y1="20.649" y2="3.354"></line></svg></a></span>
            <div class="first">
                <div class="first_img">
                    <div class ="box">
                        <img src="https://intermusicakorea.com/common/img/default_profile.png">
                    </div>
                </div>
                <div>
                    <div class="name_items">
                        <h1>
                            {{ user.username }}
                        </h1>
                        <h2>
                            <a href="#"><b>프로필 사진 바꾸기</b></a>
                        </h2>
                    </div>
                </div>
            </div>
            <form method="post" action="/profile_update/">
                {% csrf_token %}
                <div class="update_box">
                    <div class="name_interval">
                        이름
                    </div>
                    <div class="set_input">
                        <div class="input_interval">
                            <input id="name" name="name" type ="text" placeholder="이름" value="{{ user.name }}" style="width:350px; height:25px; font-size:14px;"></input>
                        </div>
                        <div class="profile_font">
                            <p>사람들이 이름, 별명 또는 비즈니스 이름 등 회원님의 알려진 이름</p>
                            <p>을 사용하여 회원님의 계정을 찾을 수 있도록 도와주세요.</p>
                            이름은 14일 안에 두 번만 변경할 수 있습니다.
                        </div>
                    </div>
                </div>
                <div class="update_box">
                    <div class="mar_name">
                        사용자 이름
                    </div>
                    <div class="set_input">
                        <div class="input_interval">
                            <input id="username" name="username" type ="text" placeholder="사용자 이름" value="{{ user.username }}" style="width:350px;height:25px;font-size:14px;"></input>
                        </div>
                        <div class="profile_font">
                            <p>대부분의 경우 이후 14일 동안 사용자 이름을 다시 변경할 수 있습니다.</p>
                        </div>
                    </div>
                </div>
                <div class="update_box">
                    <div class="mar_username">
                        웹사이트
                    </div>
                    <div class="set_input">
                        <div class="input_interval">
                            <input id="website" name="website" type ="text" placeholder="웹사이트" value="{{ user.website }}"  style="width:350px;height:25px;font-size:14px;"></input>
                        </div>
                    </div>
                </div>
                <div class="update_box">
                    <div class="mar_bio">
                        소개
                    </div>
                    <div class="set_input">
                        <div class="input_interval">
                            <textarea id="bio" name="bio" class="form-control" id="exampleFormControlTextarea1" value="{{ user.bio }}" rows="3" style="width:350px;height:100px;font-size:14px; border: 1px solid gray"></textarea>
                        </div>
                        <div class="profile_font">
                            <p>0 / 150</p>
                        </div>
                    </div>
                </div>
                <div class="update_box">
                    <div class="mar_email">
                        이메일
                    </div>
                    <div class="set_input">
                        <div class="input_interval">
                            <input id="email" name="email" type ="text" placeholder="이메일" value="{{ user.email }}"  style="width:350px;height:25px;font-size:14px;"></input>
                        </div>
                    </div>
                </div>
                <div class="update_box">
                    <div class="mar_phone">
                        전화번호
                    </div>
                    <div class="set_input">
                        <div class="input_interval">
                            <input id="phone" name="phone" type ="text" placeholder="전화번호" value="{{ user.phone }}" style="width:350px;height:25px;font-size:14px;"></input>
                        </div>
                        <hr>
                        {% if error %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                        {% endif %}
                        <div class="profile_font">
                            <button id="submit" type="submit" class="btn btn-primary">제출</button>
                        </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>


{% endblock %}

{% block extra_body %}
    <script src="{% static "js/profile_update.js" %}" type="text/javascript"></script>
{% endblock %}